/* Background with image */
.register-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-image: url("../assets/nature1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Overlay to darken the background slightly */
.register-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25); 
  backdrop-filter: blur(2px);
}

/* Box styling */
.register-box {
  width: 350px;
  height: 450px;
  padding: 25px 30px;
  background: rgba(255, 255, 255, 0.08);
   border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
}

/* Remove img (we are using background now) */
.register-img {
  display: none;
}

/* Title */
.title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

/* Inputs */
.input-field {
  width: 330px;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  transition: 0.2s ease;
}

.input-field:focus {
  border-color: #3b82f6; /* Blue */
  outline: none;
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.4);
}


.btn {
  width: 100%;
  padding: 12px;
  background:rgba(29, 29, 29, 0.649);
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn:hover {
  background: #05215d;
}

/* Login Button */
.login-btn {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: transparent;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.6);
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: #10b981; /* green */
}
